version: '2.4'
services:
    apache-golfathon-web-app:
        container_name: apachegolfathon
        image: kezizhou/golfathon-web-app:apache
        ports:
            - "80:80"
        volumes:
            - ./root/:/var/www/localhost/htdocs
    php-golfathon-web-app:
        container_name: phpgolfathon
        image: kezizhou/golfathon-web-app:php
        ports:
            - "9000:9000"
        environment:
            mySQLServerNameFile: /run/secrets/mySQLServerName
            mySQLUsernameFile: /run/secrets/mySQLUserName
            mySQLPasswordFile: /run/secrets/mySQLPassword
            mySQLDBNameFile: /run/secrets/mySQLDBName
        secrets: 
            - mySQLServerName
            - mySQLUsername
            - mySQLPassword
            - mySQLDBName
        volumes: 
            - ./root/:/var/www/localhost/htdocs
          
secrets:
    mySQLServerName:
        external: true
    mySQLUsername:
        external: true
    mySQLPassword:
        external: true
    mySQLDBName:
        external: true