version: '3.7'
services:
    apache-golfathon-web-app:
        image: kezizhou/golfathon-web-app:apache
        networks:
            - frontend
            - backend
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - root:/var/www/localhost/htdocs
    php-golfathon-web-app:
        image: kezizhou/golfathon-web-app:php
        networks:
            - backend
        environment:
            mySQLServerNameFile: /run/secrets/mySQLServerName
            mySQLUsernameFile: /run/secrets/mySQLUserName
            mySQLPasswordFile: /run/secrets/mySQLPassword
            mySQLDBNameFile: /run/secrets/mySQLDBName
        secrets: 
            - mySQLServerName
            - mySQLUsername
            - mySQLPassword
            - mySQLDBName
        volumes: 
            - root:/var/www/localhost/htdocs
          
secrets:
    mySQLServerName:
        external: true
    mySQLUsername:
        external: true
    mySQLPassword:
        external: true
    mySQLDBName:
        external: true